/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-light {
    background-color: #c8c7c7;
}

.header-dark {
    background-color: #101214
}

#logo {
    width: 35px;
    height: 35px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.linkedin {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

#themeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#themeIcon {
    width: 30px;
    height: 30px;
}

/* Body */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    margin: 0;
    text-align: left;
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.body-light {
    background-color: #e8e8e8;
    color: #212529;
}

.body-dark {
    background-color: #212529;
    color: #e8e8e8;
}

.container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: min(400px, 60vw);
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img,
.gallery video {
    max-width: 15vw;
    aspect-ratio: 3 / 4;
    margin: 20px;
    object-fit: cover;
}

.gallery img.wide {
    max-width: 30vw;
    aspect-ratio: 3 / 2;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin: 5px 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 5px 20px;
}

skills {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.5;
}

.content-text {
    font-family: Andale Mono, monospace;
    font-size: 1.2rem;
    max-width: max(50vw, 500px)
}

img {
    height: auto;
}

/* Slider */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform 1.5s ease;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.slide img {
    max-width: min(500px, 45vw);
    aspect-ratio: 6 / 7;
    object-fit: cover;
    border-radius: 5%;
    margin: 5px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.indicator {
    background-color: #4d4d4d;
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.indicator.active {
    padding: 10px;
    margin: 5px;
    background-color: #fff;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 2s ease-in-out;
}

.a-light {
    color: #212529;
}

.a-dark {
    color: #e8e8e8;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.arrow {
    width: 20px;
    height: 20px;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.flip {
    transform: rotate(180deg);
}

.down {
    transform: rotate(90deg)
}

.fadeout {
    opacity: 0;
}

button {
    transition: background-color 5s ease-in-out, color 5s ease-in-out;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 15px;
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.footer-light {
    background-color: #c8c7c7;
}

.footer-dark {
    background-color: #101214
}

.myprojects {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}