/* Body */
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.light {
    background-color: #8888882a;
    color: #212529;
}

.dark {
    background-color: #212529;
    color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
