/* Body */
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.light {
    background-color: #8888882a;
    color: #212529;
}

.dark {
    background-color: #212529;
    color: #fff;
}

/* Navbar */
.navbar {
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.navbar-brand {
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

.navbar-toggler {
    transition: color 2s ease-in-out, background-color 1s ease-in-out;
}

/* Slider */
.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider-container {
    display: flex;
    transition: transform 1.5s ease;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.slide img{
    width: 100%;
    aspect-ratio: 6 / 7;
    object-fit: cover;
}

.slide button.prev,
.slide button.next {
    position: absolute;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;

}

/* .slide button.prev {
    left: 20px;
}

.slide button.next {
    right: 20px;
} */

.btn.indicator {
    background-color: #4d4d4d;
    margin: 10px;
    padding: 5px 20px;
    transition: background-color 0.15s ease-in-out;
}

.btn.indicator.active {
    background-color: #131313;
}

.FOM {
    color: #131313
}

/* Other */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

/* button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
} */

.profile-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}